aiohttp
aiohttp_retry
apscheduler
beautifulsoup4
feedparser
html_telegraph_poster
lxml[html_clean]
neonize
protobuf==5.29.1
pymongo
python-decouple
git+https://github.com/Nubuki-all/EnkaCard
git+https://github.com/Nubuki-all/ENCard
#Snyk pins 
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
